 @page {
size:portrait;
margin-left: 2.54cm;
margin-right: 2.54cm;
margin-top: 2.54cm;
margin-bottom: 2.54cm;
@top-center {
content: element(header);
}
@bottom-left {
content: element(footer);
}
}
div.header {
padding: 10px;
position: running(header);
text-align: center;
}
div.footer {
padding: 5px;
position: running(footer);
}
.pagenumber:before {
content: counter(page);
}
.pagecount:after {
content: counter(pages);
} 